#name1 {
    display: block;
    margin-left: 150px;
    width: 80%;
    margin-top: 20px;
}
#textarea {
    display: block;
    width: 80%;
    margin-top: 8px;
    margin-left: 150px;
}
#button {
    display: block;
    width: 80%;
    margin-top: 8px;
    margin-left: 150px;
    margin-bottom: 20px;
}